body {
  background-color: #232830;
  color: white;
  font-family: "Poppins";
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading__logo {
  padding: 1%;
}
.heading__options {
  padding: 1%;
}
a {
  color: white;
  text-decoration: none;
}

.main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main__headertext {
  color: #ff7575;
  font-size: 41px;
  font-weight: 400;
  font-style: italic;
  line-height: 85.2px;
  margin-bottom: 1%;
  margin-top: 1%;
}
.main__subheadertext {
  font-size: 19px;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category_list {
  color: #909090;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
}
div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div li {
  list-style: none;
  font-size: 19px;
  row-gap: 5%;
  justify-content: space-between;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.card {
  width: 300px;
  background-color: aliceblue;
  border-radius: 3%;
  border: 2px solid #232830;
  margin: 2%;
}

.card-image {
  width: 25%;
  height: auto;
}

.card-body {
  width: auto;
  color: black;
  height: 25%;
  padding: 2%;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  background-color: #0077b6;
  border: 2px solid #0077b6;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  color: white;
}

.pbtn {
  width: 100px;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
